/* Header > dropdown css */

.dropdown {
    position: relative;
    padding: 20px;
}

.dropdown__content {
    display: none;
    position: absolute;
    top: 44px;
    left: -89px;
    width: 506px;
    height: 300px;
    background-color: #427285;
    color: #fff;
    transition: 0.4s;
}

.dropdown:hover .dropdown__content {
    display: block;
    transition: 0.4s;
}

.dropdown__box {
    padding: 20px 30px;
}

.dropdown__menu {
    width: 100%;
}

.dropdown__list {
    width: 100%;
}

.dropdown__item {
    padding: 10px 5px;
}

.dropdown__link {
    color: #fff;
    transition: 0.2s;
}

.dropdown__link:hover {
    color: #2eb873;
}


/* index.html > main */

.main__backround {
    position: relative;
}

.main__content {
    width: 100%;
}

.main__title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #64829B;
    font-size: 50px;
    font-family:Verdana, Tahoma, sans-serif;
    text-align: center;
}

.main__about {
    max-width: 70%;
    margin: 200px auto;
}

.about {
    font-size: 20px;
    margin-top: 40px;
}

.bg-c {
    width: 100%;
    background-color: #F6F4F5;
    padding: 1px 0;
    margin-top: 100px;
}

/* Contact css */

.main__contact {
    width: 70%;
    min-height: 35rem;
    margin: 10rem auto 5rem;
    display: flex;
    flex-direction: column;
}

.contact__link {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    font-size: 18px;
    font-weight: bold;
}

.title {
    color: #21325B;
    font-size: 22px;
    padding-left: 10px;
    border-left: 2px solid #21325B;
}

.contact__content {
    margin: 50px 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.contact__adress {
    width: 100%;
    display: flex;
    align-items: center;
}

.contact__item {
    width: 100%;
    height: 30px;
    background-color: #F6F4F5;
    border: none;
    outline: none;
    padding: 20px 10px;
    margin: 10px 0;
}

.contact__text {
    background-color: #F6F4F5;
    border: none; 
    padding: 20px 10px; 
    font-size: 16px; 
    width: 100%;
    min-height: 300px;
    margin-top: 10px;
    outline: none;
}

.contact__button {
    width: 150px;
    padding: 15px 10px;
    background-color: #427285;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.contact__button:hover {
    background-color: #365d6d;
}

/* Projects css */

.main__projects {
    width: 40vw;
    height: 90vh;
    background-color: #F1F1F1;
}

.projects__content {
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects__text {
    margin-left: 100px;
    text-align: center;
    width: 2000px;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

.projects__text h1 {
    margin-bottom: 20px;
}

/* Main srteet */

.main__street {
    max-width: 1800px;
    min-height: 500px;
    margin: 200px auto 100px;
    display: flex;
    flex-wrap: wrap;
}

.image {
    width: 350px;
    height: 350px;
    margin: 0 20px 20px 0;
    flex-grow: 1;
    transition: 0.5s;
}